@import "../../../../styles.scss";

.title {
  font-size: xx-large;
  font-weight: bold;
  line-height: 100%;
}

.searchest {
  @extend .pa-5;
}

.content__sub {
  @extend .pa-5;
  height: 700px;
  min-height: 700px;
}

:host ::ng-deep .carousel {
  height: 100% !important;
}
