@import "../../styles.scss";

:host ::ng-deep .carousel-slide-overlay {
  background: transparent !important;
}

.home {
  @extend .pt-5;
}

.searched {
  padding-bottom: 50px;
}

@media (min-width: 430x) {
  .home__slider__img {
    width: 80%;
    min-height: 80%;
  }
}
