.button__buy {
  background: black;
  color: white;
}

.price {
  font-size: medium;
  font-weight: bold;
}
.price-weight {
  font-weight: 400;
}

.card__actions {
  position: absolute;
  width: 90%;
  bottom: 15px;
}

.button__quantity {
  background: black;
}
