<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <div class="w-100">
      <div class="sidenav__close-button">
        <button
          mat-icon-button
          color="accent"
          aria-label="close button"
          (click)="sidenav.toggle()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="sidenav__options">
        <app-sidenav-items></app-sidenav-items>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-global-toolbar [sidenave]="sidenav"></app-global-toolbar>

    <router-outlet></router-outlet>

    <app-footer>
      <div class="w-100 center-info pb-2">
        <span class="footer__copy-right">
          ©CopRight Colombia. Todos los derechos reservados
        </span>
      </div>
    </app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
